
body {
    margin: 0;
}

header {margin-top: 10px;}

header, main, footer {
    padding-left: 5px;
}

main {
    display: flex;        
}

main div {
    flex-grow: 1;
}

footer {
    line-height: 20px;    
    background-color: lightgray;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.hide-element {
    display: none;
}

.task-done {
    text-decoration: line-through;
}